<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
<!--    <context-param>-->
<!--        <param-name>url</param-name>-->
<!--        <param-value>https://nhnacademy.com</param-value>-->
<!--    </context-param>-->

<!--    <context-param>-->
<!--        <param-name>count</param-name>-->
<!--        <param-value>0</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--        <param-name>counterFileName</param-name>-->
<!--        <param-value>counter.dat</param-value>-->
<!--    </context-param>-->

<!--    <listener>-->
<!--        <listener-class>com.nhnacademy.servlet.listener.WebAppListener</listener-class>-->
<!--    </listener>-->
<!--    <listener>-->
<!--        <listener-class>com.nhnacademy.servlet.listener.SessionListener</listener-class>-->
<!--    </listener>-->

<!--    <filter>-->
<!--        <filter-name>counterFilter</filter-name>-->
<!--        <filter-class>com.nhnacademy.servlet.filter.CounterFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>counterFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter>-->
<!--        <filter-name>loginCheckFilter</filter-name>-->
<!--        <filter-class>com.nhnacademy.servlet.filter.LoginCheckFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>exclude-url</param-name>-->
<!--            <param-value>-->
<!--                /login.html-->
<!--                /logout-->
<!--                /loginForm-->
<!--                /index.html-->
<!--                /-->
<!--                /test-->
<!--                /upload-->
<!--                /fileUpload.html-->
<!--            </param-value>-->
<!--        </init-param>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>loginCheckFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter>-->
<!--        <filter-name>characterEncodingFilter</filter-name>-->
<!--        <filter-class>com.nhnacademy.servlet.filter.CharacterEncodingFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>encoding</param-name>-->
<!--            <param-value>UTF-8</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>characterEncodingFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

    <servlet>
        <servlet-name>fileDownloadServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.file.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileDownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fileUploadServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.file.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
<!--    <servlet>-->
<!--        <servlet-name>logoutServlet</servlet-name>-->
<!--        <servlet-class>com.nhnacademy.servlet.LogoutServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>logoutServlet</servlet-name>-->
<!--        <url-pattern>/logout</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>loginServlet</servlet-name>-->
<!--        <servlet-class>com.nhnacademy.servlet.LoginServlet</servlet-class>-->
<!--        <init-param>-->
<!--            <param-name>id</param-name>-->
<!--            <param-value>yerin</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>pwd</param-name>-->
<!--            <param-value>1234</param-value>-->
<!--        </init-param>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>loginServlet</servlet-name>-->
<!--        <url-pattern>/login</url-pattern>-->
<!--    </servlet-mapping>-->
    <servlet>
        <servlet-name>cookieTestServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.cookie.CookieTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieTestServlet</servlet-name>
        <url-pattern>/cookie-test/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>setCookieServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.cookie.SetCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setCookieServlet</servlet-name>
        <url-pattern>/set-cookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>readCookieServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.cookie.ReadCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readCookieServlet</servlet-name>
        <url-pattern>/read-cookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requestServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.RequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestServlet</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servletContestServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.ServletContextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletContestServlet</servlet-name>
        <url-pattern>/servletcontext</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.TestServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>MS.</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>yerin</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>counterServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.CounterServlet</servlet-class>
        <init-param>
            <param-name>count</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>counterServlet</servlet-name>
        <url-pattern>/counter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>nowServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.NowServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!-- load-on-startup은 서블릿 컨테이너가 준비되는 시점에 init을 해줌(긴 초기화 과정 또는 디비를 가져오는 경우 사용)
        /없다면 호출시 init후에 서비스 -->
    </servlet>
    <servlet>
        <servlet-name>multiServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.MultiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beautifyServlet</servlet-name>
        <servlet-class>com.nhnacademy.servlet.BeautifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>beautifyServlet</servlet-name>
        <url-pattern>/beautify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>multiServlet</servlet-name>
        <url-pattern>/multi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nowServlet</servlet-name>
        <url-pattern>/now</url-pattern>
    </servlet-mapping>
</web-app>