<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhnacademy.edu.jdbc1.mybatis.StudentMapper">
    <select id="selectStudent" resultType="Student">
        select * from JdbcStudents where id = #{id}
    </select>

    <select id="selectAllStudent" resultSets="Student">
        select * from JdbcStudents
    </select>

    <insert id="insertStudent">
        insert into JdbcStudents values (#{id}, '${name}', #{createdAt})
    </insert>

    <update id="updateStudent">
        update JdbcStudents set name ='${name}' where id = #{id}
    </update>

    <delete id="deleteStudent">
        delete from JdbcStudents where id = #{id}
    </delete>
</mapper>